extends ../../layout/default
include ../../mixins/product-layout

block main
    .container.my-3
        .row
            .col-12
                .box-head
                    h2.inner-title #{pageTitle}
        .row
            +product-grid(products)